<%= form_for @post do |f|%>
	<% if @post.errors.any?%>
	<h2><%= pluralize(@post.errors.count, "error") %></h2>
	<ul>
		<% @post.errors.full_messages.each do |msje|%>
		<li><%= msje %></li>
		<% end %>
	</ul>
	<% end %>
	<!-- Validar si hay errores con el notice -->
	  <div class="container-fluid">
        <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">New Article</div>
        <div class="panel-body">
        	<div class="centro">
		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
		<br>
		<%= f.label :content %>
		<br>
		
		<%= f.text_area :content %>
		<br>
		<%= f.submit :Enviar , class:"btn btn-primary"%>
	</div>
	
        </div>
      </div>
        </div>
      </div>
      <hr>
	<% end %>